<h1>GYM TEST</h1>
<p>GYM TESTING</p>

<div class="splash_page_buttons">
  <a class="update_button" href="/members">View Members</a>
  <a class="update_button" href="/classes">View Classes</a>

</div>
