<h1 class="splash_title">GloboGym Management System</h1>

<div class="splash_page_buttons">
  <a class="update_button" href="/members">View Members</a>
  <a class="update_button" href="/classes">View Classes</a>

</div>
