<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/structure.css">
    <title>Gym Management System</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/members">Members List</a></li>
        <li><a href="/members/new">Add New Member</a></li>
        <li><a href="/classes">Class List</a></li>
        <li><a href="/classes/new">Add New Class</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
