input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.text_input {
  background-color: #5D366D;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
  width: 50%;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.text_input:focus {
  outline-color: white;
  border: 2px solid white;
  font-size: 16px;
}

.text_input::placeholder {
  color: white;
  font-size: 16px;
}

select{
  outline-color: white;
  border: 2px solid white;
  font-size: 16px;
}



/* NEW CLASS FORM */

.new_class_form {
  margin-left: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.name, .instructor, .max_capacity, .class_time {
  display: flex;
  flex-direction: column;
}

.class_time input {
  margin-top: 0px;
  width: 25%;
}

.class_time label {
  margin-left: 5px;
}

/* NEW MEMBER FORM */

.new_member_form {
  margin-left: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.first_name, .last_name, .membership_type {
  display: flex;
  flex-direction: column;
}

/* EDIT EXISTING MEMBER FORM */

.edit_member_form {
  margin-left: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

/* EDIT EXISTING CLASS FORM */

.edit_class_form {
  margin-left: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
