<h1>Create New Class</h1>
<hr>
<div class="new_class_form">
  <form action="/classes" method="POST">

    <div class="name">
      <label for="name"></label>
      <input class="text_input" type="text" name="name" id="name" placeholder="New Class Name" required>
    </div>

    <div class="instructor">
      <label for="instructor"></label>
      <input class="text_input" type="text" name="instructor" id="instructor" placeholder="Instructor Name" required>
    </div>

    <div class="max_capacity">
      <label for="max-capacity"></label>
      <input class="text_input" type="number" name="max_capacity" id="max-capacity" placeholder="Maximum Capacity" required>
    </div>

    <div class="class_time">
      <label for="class-time">Select a Time Slot:</label>
      <input class="text_input" type="time" name="class_time" required>
    </div>

    <input class="add_button" type="submit" value="Create New Class">

  </form>
</div>
